{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "jest": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "off",
    "no-underscore-dangle": 0,
    "func-names": 0
  }
}
