.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: -4rem;
  padding: 0 2rem;
  min-height: 100vh;

  &__header {
    margin-top: 3rem;
    font-size: var(--font-size-medium);

    flex: 0 0 60%;
    margin-bottom: auto;
    text-align: center;

    &--logo {
      margin-top: 3rem;
      position: relative;
    }
  }

  &__btn {
    text-align: center;

    display: flex;
    flex-direction: column;

    & > * {
      cursor: pointer;
      font-weight: 600;
      padding: 1.3rem 2rem;
      margin-bottom: 1.4rem;

      border-radius: 1rem;
      border: 1px solid var(--color-primary);

      & a {
        text-decoration: none;
        font-size: var(--font-size-medium);
        color: var(--color-primary);
      }
    }

    &--sign-up {
      background-color: var(--color-primary);

      & a {
        color: var(--color-grey-light-1);
      }
    }

    &--sign-in {
      background-color: inherit;
    }

    &--facebook {
      background-color: #4367b2;

      & a {
        color: var(--color-grey-light-1);
      }
    }
  }
}

.user-condition {
  font-size: 1.2rem;
  text-align: center;

  & span {
    text-decoration: underline;
  }
}
