$color-primary: #3f51b5;
$color-white: #fff;
$color-grey: #f2f2f2;
$color-grey-dark: #eeeeeed0;

$card-width: 19rem;
$default-box-shadow: 0 1rem 2rem rgba(black, 0.1);
$default-font-size: 0.8rem;
$default-font-family: 'Lato';
